{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["import", { "style": "css", "libraryName": "antd-mobile" }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}