<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="bookmark"  type="image/x-icon"  href="favicon.ico"/>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel='stylesheet' href='<%=mainCss%>' />
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <% if(platform==='mobile'){ %>
      <script src="https://os.alipayobjects.com/rmsportal/lvEQQbNgHsIxVfXLkmuX.js"></script>
      <script>
      if(!window.Promise) {
        document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
      }
    </script>
    <%}%>



  </head>
  <body>
  <div id="react-content"></div>
  <script type="text/javascript" src="<%=vendorJs%>"></script>
  <script type="text/javascript" src="<%=mainJs%>"></script>
  </body>
</html>
